@aave-tech:registry https://gitlab.com/api/v4/projects/19392283/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}
//gitlab.com/api/v4/projects/19392283/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}
